<div class="painel-container">
  <aside class="sidebar">
    <h2>Menu</h2>
    <ul>
      <li><a routerLink="dashboard" routerLinkActive="active">📊 Dashboard</a></li>
      <li><a routerLink="produtos" routerLinkActive="active">🍗 Produtos</a></li>
      <li><a routerLink="pedidos" routerLinkActive="active">📦 Pedidos</a></li>
      <li><a routerLink="configuracoes" routerLinkActive="active">⚙️ Configurações</a></li>
    </ul>


  </aside>

  <main class="painel-conteudo">
    <h1>Bem-vindo ao seu Painel</h1>
    <router-outlet></router-outlet>
  </main>
</div>

