<div class="landing-container">
  <div class="item1">
    <img src="card1.png" width="400px" height="600px" />
  </div>

  <div class="item2">
    <h4>
      <div class="emotion">
        <div>🥰😋🍗</div>
      </div>
      Agora, em sua cidade, 👽você pode acessar nosso app
      para saber onde😋 tem frango assado🍽️ pertinho da sua casa! 😉😉😉
    </h4>
    <img src="frango.png" width="450px" height="450px"/>
  </div>

  <div class="item3">
    <h2>É comerciante?</h2>
    <h4>Cadastre-se e faça parte do nosso time!
      <br>Você pode vender seu frango assado e aumentar suas vendas!
    </h4>
    <h3>Sabe qual a melhor parte?</h3>
    <h3>Você contrata nossa plataforma e só paga uma assinatura fixa!</h3>
    <h3>Isso mesmo! Só uma assinatura! </h3>
    <h2>Quer saber mais?</h2>
    <h4>👽Entre em contato com a gente!👇👇👇</h4>
  </div>
</div>


